.auth {
  background: #c5c2ba;
  background: -webkit-linear-gradient(to right, $primary, #fbd679);
  background: linear-gradient(to right, #e6b01c, #ebca3a);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
